:root {
    --main-color: #342C23;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}
/***********loader***********/
.loader {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.loader img {
    z-index: 20;
    animation: moving 1s ease-in infinite;
}

.loader.hide {
    opacity: 0;
    z-index: -11;
} 

@keyframes moving {
    0%, 100% {
        transform: scale(.2);
    }
    50% {
        transform: scale(.4);
    }
}
/***********loader***********/
/***********upper section***********/
.upper-section {
    padding-top: 60px;
    padding-bottom: 50px;
}

.upper-section h1 {
    font-size: 64px;
    font-weight: 600;
}

.upper-section h3 {
    color: #342C23;
    font-size: 40px;
    font-weight: 500;
}

.upper-section ul {
    gap: 45px;
}

.upper-section ul li {
    background-color: #F4F2F0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper-section ul li:first-child  img{
    width: 70px;
    height: 80px;
}

.upper-section ul li:nth-of-type(2) img {
    width: 100px;
    height: 30px;
}

.upper-section ul li:last-child img {
    width: 60px;
    height: 60px;
}

@media(max-width: 576px) {
    .upper-section h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }
    
    .upper-section h3 {
        font-size: 30px;
    }

    .upper-section ul {
        flex-direction: column;
    }
}
/***********upper section***********/
/***********navbar***********/
nav .navbar-brand img {
    width: 60px;
    height: 60px;
}

nav .navbar-toggler {
    border-color: #342C23;
}

nav .navbar-toggler:focus {
    box-shadow: none;
}

nav .nav-item .nav-link.active {
    color: #594C3C;
}

nav .nav-item .nav-link {
    position: relative;
    color: black;
    margin-left: 60px;
    transition: .3s ease-in;
}

nav .nav-item:last-child .nav-link {
    width: fit-content;
    background-color: #342C23;
    color: white;
    font-weight: 500;
    border: 1px solid #342C23;
    border-radius: 8px;
    padding: 6px 40px;
    transition: .4s ease-in;
}

nav .nav-item:last-child .nav-link:hover {
    background-color: transparent;
    color: #342C23;
}

nav .nav-item .nav-link:hover {
    color: #594C3C;
}

nav .nav-item .nav-link.active::after, 
nav .nav-item:not(:last-child) .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 10px;
    width: 45px;
    height: 2px;
    background-color: #594C3C;
    animation: stretch .4s ease-in;
}

@keyframes stretch {
    0% {
        width: 0px;
    }
    100% {
        width: 40px;
    }
}

@media (max-width: 992px) {
    nav .nav-item .nav-link {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    nav .nav-item .nav-link.active::after, 
    nav .nav-item:not(:last-child) .nav-link:hover::after {
        left: 2px;
    }
}
/***********navbar***********/
/***********heading***********/
h2 {
    font-weight: 600;
    font-size: 44px;
    text-align: center;
}

h2 span {
    color: #957E64;
}

@media(max-width: 576px) {
    h2 {
        font-size: 30px;
    }
}
/***********heading***********/
/***********main***********/
main {
    background-color: #EFECE8;
}

main .icons {
    gap: 37px;
}

main .icons a {
    color: #43392D;
    padding: 10px 0px 0px 12px;
    border: 1px solid #43392D;
    border-bottom: 0px;
    border-right: 0px;
    transition: .4s ease-in-out;
}

main .box h1 {
    font-size: 64px;
    color: #342C23;
}

main .box h3 span {
    color: #957E64;
}

main .box img {
    width: 190px;
    transform: translate(-55px, -62px);
}

main .box .links {
    position: absolute;
    bottom: 24px;
}

main .box .links a {
    text-decoration: none;
    border: 1px solid #342C23;
    border-radius: 8px;
    padding: 7px 48px;
    transition: .4s ease-in;
}

main .box .links a:first-child {
    background: #342C23;
    color: white;
    margin-right: 10px
}

main .box .links a:first-child:hover {
    background: transparent;
    color: #342C23;
}

main .box .links a:last-child {
    color: #342C23;
}

main .box .links a:last-child:hover {
    background: #342C23;
    color: white;
}

main .image::before{
    content: "";
    position: absolute;
    bottom: 30px;
    right: 0px;
    background-color: #43392D;
    width: 600px;
    height: 280px;
    border-radius: 235px 50px 50px 235px;
} 

h3.fw-semibold {
    position: relative;
}

h3.fw-semibold::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../assets/images/Frame 39 --_ Let ‘s connect.png")
}
/***********main***********/
/***********about***********/
.about .box {
    width: 70%;
    margin: auto;
}

.about p {
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 54px;
}

.about button {
    /* position: relative; */
    background: transparent;
    color: #653C1F;
    font-weight: 600;
    border: none;
    outline: none;

}

.about button svg {
    color: #653C1F;
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0px 6px 6px 0px #00000025;
}

.about button span:first-child {
    position: relative;
}

.about button span:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #653C1F;
    width: 50%;
    height: 4px;
}
/***********about***********/
/***********choose***********/
.choose .choose-content {
    background: linear-gradient(165deg, #000000, #000000eb);
}

.choose-box {
    background: linear-gradient(45deg, transparent, #999999)
}

.choose .choose-box .box {
    width: 450px;
    margin: auto;
}

.choose .choose-box p {
    font-size: 13px;
}

.choose .choose-box p {
    font-size: 14px;
}

@media(max-width: 991px) {
    .choose .choose-box .box {
        width: 300px;
    }
}
/***********choose***********/
/***********reviews***********/
.reviews h2 svg {
    color: #653C1F;
    font-size: 32px;
}

.reviews .swiper-backface-hidden .swiper-slide {
    margin-bottom: 50px;
}

.reviews .swiper .swiper-pagination .swiper-pagination-bullet-active {
    background: #342C23;
}

.reviews .swiper .swiper-pagination .swiper-pagination-bullet {
    padding: 4px;
    border: 2px solid #342C23;
    transition: .4s ease-in;
}
/***********reviews***********/
/***********tools***********/
.tools .tools-box:not(:last-child) {
    border-right: 3px solid #dee2e6;
    height: 70px;
}

.tools .tools-box:first-child img {
    width: 120px;
    height: 80px;
}

.tools .tools-box:nth-of-type(2) img {
    width: 60px;
    height: 60px;
}

.tools .tools-box:nth-of-type(3) img {
    width: 225px;
    height: 73px;
}

.tools .tools-box:last-child img {
    width: 70px;
    height: 80px;
}
/***********tools***********/
/***********contact***********/
.contact img {
    width: 400px;
}

.contact svg {
    color: #342C23;
}

.contact form .form-control::placeholder {
    color: #957E64;
    transition: .5s ease-in;
}

.contact form .form-control:hover::placeholder {
    opacity: 0;
}

.contact form .input-group {
    margin-bottom: 2rem;
}

.contact .form-control:focus {
    box-shadow: none;
    border-color: #957E64;
}

.contact form textarea {
    height: 200px;
    resize: none;
}

.contact form button {
    width: fit-content;
    background-color: #342C23;
    color: white;
    font-weight: 500;
    border: 1px solid #342C23;
    border-radius: 10px;
    padding: 12px 35px;
    margin: auto;
    transition: .4s ease-in;
}

.contact form button:hover {
    background-color: transparent;
    color: #342C23;
    border: 1px solid #342C23;
}
/***********contact***********/
/***********footer***********/
footer {
    background: url(../assets/images/footer.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    color: white;
}

footer::after {
    content: "";
    background-color: #040404c9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer p {
    margin-bottom: 4rem;
}

footer ul a {
    color: white;
    font-size: 26px;
    padding: 14px 0px 0px 16px;
    border: 1px solid white;
    border-bottom: 0px;
    border-right: 0px;
    transition: .4s ease-in-out;
}

footer ul li:first-child a:hover {
    color: #1ad03f;    
}

footer ul li:nth-of-type(2) a:hover {
    color: #38529a;    
}

footer ul li:nth-of-type(3) a:hover {
    color: #1c96e9;    
}

footer ul li:nth-of-type(4) a:hover {
    color: #bd419d;    
}

footer ul li:last-child a:hover {
    color: #2563ab;    
}
/***********footer***********/


